@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* @media screen and ((max-width : 480px) and (min-width : 320px)){ */
    *{
        font-size: 36px;
        margin: 0;
        padding: 0;
    }
    .bg{
        background: url("../Pictures/Colorful-Gradient.png");
/*         
        background: -webkit-linear-gradient(to bottom, #ffafbd, #ffc3a0);
        background: linear-gradient(to bottom, #ffafbd, #ffc3a0); */
        min-height: 100vh;
        min-width: 100vw;
    }
    ul{
        display: flex;
        justify-content: space-between;
        color: #fff;
    }
    li{
        margin: 5px 10px;
    }
    .fa-heart{
        color: rgb(224, 11, 96);
    }
    .main-box{
        display: flex;
        justify-content: center;
    }
    #clock{
        display: flex;
        color: #fff;
        text-align: center;
        padding: 1em 3em;
    }
    #date{
        width: 220px;
        height: 300px;
        border-radius: 20px;
        margin-right: 5px;
    }
    .numDay{
        width: 215px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 20px;
        margin-bottom: 10px;
        font-size: 50px;
    }
    .txtDay{
        width: 215px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 20px;
        margin-right: 3px;
    }

    #time{
        width: 150px;
        height: 300px;
        display: flex;
        flex-direction: column;
        margin-left: 3px;
    }
    .Hours{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .numHours{
        width: 160px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 15px;
        margin-bottom: 3px;
    }
    .txtHours{
        width: 160px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 10px;
        margin-bottom: 3px;
    }
    .minSec{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .numMin{
        width: 80px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 15px;
        margin-bottom: 3px;
    }
    .txtMin{
        width: 85px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 10px;
    }
    .numSec{
        width: 80px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 15px;
        margin-bottom: 3px;
    }
    .txtSec{
        width: 80px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 10px;
    }

    /* date{
        font-size: 2em;
    }
    time{
        font-size: 1.5em;
    } */
    .prs-box{
        border: 2px solid #fff;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        position: fixed;
        bottom: 0;
        min-width: 100vw;
        min-height: 500px;
    }
    